Gma.QrCodeNet/Gma.QrCodeNet.Demo/bin/
Gma.QrCodeNet/Gma.QrCodeNet.Demo/obj/
Gma.QrCodeNet/Gma.QrCodeNet.Encoder/bin/
Gma.QrCodeNet/Gma.QrCodeNet.Encoder/obj/
Gma.QrCodeNet/Gma.QrCodeNet.WPF.Demo/bin/
Gma.QrCodeNet/Gma.QrCodeNet.WPF.Demo/obj/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Tests/bin/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Tests/obj/