Gma.QrCodeNet/Gma.QrCodeNet.Demo/bin/
Gma.QrCodeNet/Gma.QrCodeNet.Demo/obj/
Gma.QrCodeNet/Gma.QrCodeNet.Encoder/bin/
Gma.QrCodeNet/Gma.QrCodeNet.Encoder/obj/
Gma.QrCodeNet/Gma.QrCodeNet.WPF.Demo/bin/
Gma.QrCodeNet/Gma.QrCodeNet.WPF.Demo/obj/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Tests/bin/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Tests/obj/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.WinRT/bin/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.WinRT/obj/
Gma.QrCodeNet/Gma.QrCode.Net.Encoding.WinRT.Demo/bin/
Gma.QrCodeNet/Gma.QrCode.Net.Encoding.WinRT.Demo/obj/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Net45/bin/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Net45/obj/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Net35/bin/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Net35/obj/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Silverlight/bin/
Gma.QrCodeNet/Gma.QrCodeNet.Encoding.Silverlight/obj/
Gma.QrCodeNet/Gma.QrCode.Net.Silverlight.Demo/bin/
Gma.QrCodeNet/Gma.QrCode.Net.Silverlight.Demo/obj/
Gma.QrCodeNet/Gma.QrCodeNet.ProjectSite
Gma.QrCodeNet/packages
Gma.QrCodeNet/Gma.QrCodeNet.Web.Demo/bin/
Gma.QrCodeNet/Gma.QrCodeNet.Web.Demo/obj/
QrCodeNet.Key.pfx