<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="a493d12e-72d9-453a-a6e4-326b1ebdffa9"
            Publisher="CN=Jason"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Gma.QrCode.Net.Encoding.WinRT.Demo</DisplayName>
    <PublisherDisplayName>Jason</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Gma.QrCode.Net.Encoding.WinRT.Demo.App">
        <VisualElements
            DisplayName="Gma.QrCode.Net.Encoding.WinRT.Demo"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Gma.QrCode.Net.Encoding.WinRT.Demo"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>